/* Main Navbar Styles */
.navbar {
  height: rem(700px);
  width: rem(300px);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: black;
  border-right: rem(1px) solid var(--mantine-color-dark-4);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: rem(1px) solid var(--mantine-color-dark-4);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid var(--mantine-color-dark-4);
}

/* Link Styles */
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: white;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.linkIcon {
  color: white;
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);
}

.link[data-active] {
  background-color: tomato;
  color: white;
}

.link[data-active] .linkIcon {
  color: white;
}

/* Collapsible Link Styles */
.collapsibleLink {
  margin-bottom: var(--mantine-spacing-xs);
}

.control {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.control:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.control.active {
  background-color: tomato;
  color: white;
}

.chevron {
  color: white;
  transition: transform 0.3s ease;
}

.subLinks {
  padding-left: 2rem;
  margin-top: var(--mantine-spacing-xs);
}

.subLinks .link {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  color: white;
  font-size: 0.9rem;
  padding-left: 1.5rem;
  /* Ensure padding is consistent with other links */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.subLinks .link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.link.active {
  background-color: tomato;
  color: white;
}

.link.active .linkIcon {
  color: white;
}

.navbarMain a,
.navbarMain button {
  color: white;
}

/* Ensure no underlines on any links within the sidebar */
.navbarMain a,
.footer a {
  text-decoration: none !important;
  /* Use !important to override defaults */
}