.navbar {
  height: rem(700px);
  width: rem(300px);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: midnightblue;
  border-right: rem(1px) solid var(--mantine-color-dark-4);
}

.navbarMain {
  flex: 1;
}

.accountContainer {
  width: 220px;
  padding-left: 10px;
  margin-left: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  transform: translateX(-5px);
}

.accountButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(56px);
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.15);

  border-color: rgb(64, 67, 255);
}

.accountButton:hover {
  background-color: rgba(255, 255, 255, 0.08);

}

.accountContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accountLeft {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  width: 100%;
}

.accountAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40px);
  height: rem(40px);
  border-radius: var(--mantine-radius-sm);
  background: lightcoral;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.accountAvatar span {
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.accountInfo {
  position: relative;
  flex: 1;
  height: rem(40px);
  display: flex;
  align-items: center;
}

.accountName {
  margin: 0;
  font-weight: 600;
  color: white;
  font-size: 0.9rem;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accountChevron {
  color: white;
  transform: rotate(90deg);
  transition: transform 150ms ease;
}

.accountChevronExpanded {
  transform: rotate(-90deg);
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: rem(1px) solid var(--mantine-color-dark-4);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid var(--mantine-color-dark-4);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: white;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.linkIcon {
  color: white;
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);
}

.link[data-active] {
  background-color: lightcoral;
  color: white;
}

.link[data-active] .linkIcon {
  color: white;
}

.collapsibleLink {
  margin-bottom: var(--mantine-spacing-xs);
}

.control {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.control:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.control.active {
  background-color: lightcoral;
  color: white;
}

.chevron {
  color: white;
  transition: transform 0.3s ease;
}

.subLinks {
  padding-left: 2rem;
  margin-top: var(--mantine-spacing-xs);
}

.subLinks .link {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);

  color: white;
  font-size: 0.9rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.subLinks .link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.link.active {
  background-color: lightcoral;
  color: white;
}

.link.active .linkIcon {
  color: white;
}

.navbarMain a,
.navbarMain button {
  color: white;
}

.navbarMain a,
.footer a {
  text-decoration: none !important;
}

